Source: qt5-ukui
Section: libs
Priority: optional
Maintainer: Yue Lan <lanyue@kylinos.cn>
Build-Depends: debhelper (>=11~), pkg-config, qt5-qmake, qtbase5-dev, qtbase5-private-dev, qtchooser, qtbase5-dev-tools, qttools5-dev-tools, libglib2.0-dev, 
Standards-Version: 4.4.0
Homepage: https://github.com/explorer-cs/qt5-ukui

Package: qt5-ukui-platformtheme
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends}, libqt5-ukui-style1, qt5-styles-ukui
Description: Qt5 QPA platform theme of UKUI.
 This package provides a qt5 qpa plaform theme plugin.

Package: qt5-styles-ukui
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends}, libqt5-ukui-style1, kde-style-oxygen-qt5
Description: QStyle plugins provided by ukui.
 This package provides several qstyle plugins which as default styles in ukui.
 For now, kde-style-oxygen-qt5 is the base style of ukui-styles (should be replaced).

Package: libqt5-ukui-style1
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends}, libglib2.0-0, libqt5widgets5
Description: UKUI platform theme and styles' shared library.
 This package provides the shared libraries used by ukui platform theme and ukui-styles.
 It also provides the common metadatas for ukui-styles and platform theme using.
 The library provided many convenient API for changing a qt widgets style, such as buttons color, tabwidget animation, etc.

Package: libqt5-ukui-style-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends}, libqt5-ukui-style1
Description: Development files of libqt5-ukui-style1.
 This package provides the development files of libqt5-ukui-style1.
 You can use qt5-ukui's API do a secondary development and publish your project under correct License and Copyright.
